.jumbotron{
    text-align:center;
}
body{
    background-color:lightblue;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.steps{
    border-style: solid;
}
#homefont{
    font-family: times new roman;
}
