.jumbotron{
    text-align:center;
}
body{
    background-color:lightblue;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.steps{
    height: 50px
    width: 50px
}
